.row-cv{
  text-align:center;
  margin: 10% 10%;
}
.row-cv h2{
  font-size:1.7em;
  margin-bottom:1em;
  color:#111827;
 }

.row-cv p {
  font-size:1.2em;
  margin:1em;
  color:#111827;
}

.cv-button {
  margin-top: 2em;
  border-radius: 1.5em;
  color: #351966 !important;
}
