.title-navbar {
    font-size: 1.2em;
    color: white;
    white-space: nowrap;
    text-decoration-line: none;

}

.small-title-navbar {
    font-size: 0.7em;
    color: white;
    margin-left: 0.5em;
}

p-menubarsub {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menubar {
    background-color: rgb(17 24 39/1);
    border-radius: 0;
    border: none;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 960px) {
    .p-menubar .p-menubar-root-list {
        background-color: rgb(17 24 39/1);
    }

    .p-menubar .p-menubar-button {
        color: white;
        margin-left: 1em;
    }

    .p-menubar .p-menubar-button:hover {
        color: white;
        background-color: transparent !important;
        margin-left: 1em;
    }
}

.p-menuitem-text {
    color: white !important;
}

.p-menuitem-active {
    background-color: #11151d;
}

.p-menuitem-icon {
    color: white !important;
}

.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link,
.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover {
    background-color: #11151d;
}

.p-menubar .p-submenu-list {
    background-color: rgb(17 24 39/1);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover {
    background-color: #1d222d !important;
}

.p-menubar .p-submenu-list :hover {
    background-color: #1d222d !important;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-submenu-icon {
    color: white !important;
}

.user-button {
    color: white !important;
}

@media screen and (max-width: 960px) {
    .p-menubar {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}