.menubar{
        background-color: #383333;
        border-radius: 0;
    }

@media screen and (max-width: 960px){
    .p-menubar .p-menubar-root-list {
        background-color: #383333;
    }
}

.user-button{
    color: white!important;
}

.title-navbar{
    font-size: 1.3em;
    color: white;
    white-space: nowrap;
}

p-menubarsub{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.p-menuitem-text{
    color: white!important;
}

.p-menuitem-icon{
    color: white!important;
}
