<div class="title-timeline">
    <h2>Mes études et expériences professionelles</h2>
    <p>Découvrez mon parcours universitaire et professionel </p>
</div>

<div class="timeline">
    <p-timeline [value]="events" align="alternate">
        <ng-template pTemplate="content" let-event>
            <!-- <p>{{event.date}}</p> -->
            <p-chip label="De 2018 à 2020" class="date"></p-chip>
            <p-card>
                <div class="header-grid">
                    <div class="header-chip"><p-chip label="Étude"></p-chip></div>
                    <div class="header-status">{{event.status}}</div>
                </div>
                <p class="m-0">
                    Étudiant en IUT Informatique du Grand Ouest Normandie, j'ai pu acquérir des compétences en
                    développement
                    web et en base de données.</p>
                <p class="star-text"><i class="pi pi-star-fill"></i>
                    Obtention d'un Diplôme
                    Universitaire et
                    technologique
                </p>
            </p-card>

        </ng-template>
    </p-timeline>
</div>