<div class="title-skills">
  <h2>Découvrez mes compétences</h2>
  <p>
    Explorez mes compétences acquises grâce à mon parcours universitaire et professionnel</p>
</div>

<div class="accordion-section">
<button class="accordion" [ngClass]="{ 'active': isSectionExpanded[0] }" (click)="toggleSection(0)">
  <i class="pi pi-angle-right" *ngIf="!isSectionExpanded[0]"></i>
  <i class="pi pi-angle-down" *ngIf="isSectionExpanded[0]"></i>
  Compétences en management 💪
</button>
<div class="panel" [ngClass]="{ 'show': isSectionExpanded[0] }">
  <h4>Compétences clées :</h4>
  <ul>
    <li>Alignement des technologies de l'information avec les objectifs stratégiques de l'organisation</li>
    <li>Communication avec les parties prenantes internes et externes</li>
    <li>Élaboration et exécution de la stratégie informatique</li>
    <li>Résolution de problèmes organisationnels</li>
    <li>Prise de décision stratégique</li>
    <li>Évaluation des risques et mise en place de mesures de sécurité</li>
  </ul>
  <h4>Compétences informatiques :</h4>
  <h5>Applications :</h5>
  <div class="it-skills-grid-container">
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/jira.png" alt="Jira"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/trello.png" alt="Trello"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/office.png" alt="Office"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/plesk.png" alt="Plesk"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/confluence.png" alt="Confluence"></div>
  </div>
</div>

<button class="accordion" [ngClass]="{ 'active': isSectionExpanded[1] }" (click)="toggleSection(1)">
  <i class="pi pi-angle-right" *ngIf="!isSectionExpanded[1]"></i>
  <i class="pi pi-angle-down" *ngIf="isSectionExpanded[1]"></i>
  Compétences en gestion de projets 📁
</button>
<div class="panel" [ngClass]="{ 'show': isSectionExpanded[1] }">
  <h4>Compétences clées :</h4>
  <ul>
    <li>Leadership et gestion d'équipes informatiques</li>
    <li>Gestion des ressources et des budgets</li>
    <li>Planification et coordination de projet</li>
    <li>Suivi des délais et des jalons</li>
    <li>Gestion de la qualité et de la conformité</li>
    <li>Communication et collaboration avec les parties prenantes</li>
    <li>Suivi des performances et de la disponibilité du serveur</li>
  </ul>
  <h4>Compétences informatiques :</h4>
  <h5>Applications</h5>
  <div class="it-skills-grid-container">
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/jira.png" alt="Jira"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/trello.png" alt="Trello"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/office.png" alt="Office"></div>
  </div>
</div>

<button class="accordion" [ngClass]="{ 'active': isSectionExpanded[2] }" (click)="toggleSection(2)">
  <i class="pi pi-angle-right" *ngIf="!isSectionExpanded[2]"></i>
  <i class="pi pi-angle-down" *ngIf="isSectionExpanded[2]"></i>
  Compétences techniques 💻
</button>
<div class="panel" [ngClass]="{ 'show': isSectionExpanded[2] }">
  <h4>Compétences clées :</h4>
  <ul>
    <li>Conception et développement d'applications</li>
    <li>Administration de serveurs</li>
    <li>Résolution de problèmes techniques</li>
    <li>Gestion des bases de données</li>
    <li>Configuration et gestion des services de serveur</li>
    <li>Sécurité des serveurs et des données</li>
    <li>Respect du droit et des réglementations</li>
    <li>Tests et débogage</li>
    <li>Peux travailler avec la méthodologie Agile</li>
  </ul>
  <h4>Compétences informatiques :</h4>
  <h5>Language de programmation/ de balisage :</h5>
  <div class="it-skills-grid-container">
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/php.png" alt="Php"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/java.png" alt="java"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/js.png" alt="javaScript"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/html.png" alt="HTML"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/css.png" alt="CSS"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/python.png" alt="Python"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/c++.png" alt="C++"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/c.png" alt="C"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/r.png" alt="R"></div>
  </div>
  <h5>Frameworks</h5>
  <div class="it-skills-grid-container">
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/angular.png" alt="Angular"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/react.png" alt="React"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/spring.png" alt="Spring"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/wordpress.png" alt="Wordpress"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/primeng.png" alt="Primeng"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/nodejs.png" alt="NodeJs"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/flask.png" alt="Flask"></div>
  </div>

  <h5>Base de données</h5>
  <div class="it-skills-grid-container">
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/mysql.png" alt="MySQL"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/mongodb.png" alt="MongoDB"></div>
  </div>
  <h5>Applications</h5>
  <div class="it-skills-grid-container">
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/jetbrains.png" alt="JetBrains"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/docker.png" alt="Docker"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/figma.png" alt="Figma"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/vsc.png" alt="Visual Studio Code"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/git.png" alt="Git"></div>
    <div class="it-skills-grid-item"><img src="assets/img/skills/it-skills/powerbi.png" alt="PowerBI" pTooltip="PowerBI - Débutant" tooltipPosition="top" ></div>
  </div>
</div>
</div>
