<div class="grid">
    <div class="photo"></div>
    <div class="text">
        <p class="greeting">{{"home-page.about-me.title" | translate}}</p>
        <p>{{"home-page.about-me.first-paragraph" | translate}}</p>
        <p>{{"home-page.about-me.second-paragraph" | translate}}</p>
        <div class="contact-info">
            <p><i class="pi pi-phone"></i> +33 7 50 34 21 74</p>
            <p><i class="pi pi-envelope"></i> louisamandd@gmail.com</p>
            <p><i class="pi pi-map-marker"></i> Bordeaux</p>
        </div>
    </div>
</div>
<div class="second-grid">
    <div class="first-col">
        <h2>De la passion au professionnalisme</h2>
        <p>En 2015, j'ai découvert ma passion pour l'informatique. Au fil des années, ma curiosité s'est également
            tournée
            vers la gestion et le management.
        </p>
        <div class="numbers-row">
            <div class="number-1">
                <p class="number-text"><span class="number">5</span> ans</p>
                <p>d'apprentissage</p>
            </div>
            <div class="number-1">
                <p class="number-text">+<span class="number">20</span> projets</p>
                <p>Informatiques</p>
            </div>
            <div class="number-3">
                <p class="number-text"><span class="number">2</span> ans</p>
                <p>en entreprise</p>
            </div>
        </div>
        <div class="button-row">
            <p-button styleClass="linkedin-btn"><i class="pi pi-linkedin"
                    style="margin-right: 1em;"></i>LinkedIn</p-button>
            <p-button styleClass="p-button-outlined github-button"><i class="pi pi-github"
                    style="margin-right: 1em;"></i>Github</p-button>
            <p-button styleClass="p-button-outlined contact-button">Me contacter<i class="pi pi-arrow-right"
                    style="margin-left: 1em;"></i></p-button>
        </div>
    </div>
    <div class="second-col">
        <div class="card-image">
            <!-- <img src="assets/images/formation.png" alt="formation"> -->
        </div>
    </div>



</div>