footer {
    background-color: #383333 !important;
    width: 100%;
}

.copyright {
    color: white;
    display: flex;
}

.copyright-text {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: auto;
    margin-left: auto;
}