footer {
    width: 100%;
    background-color: rgb(17 24 39/1);
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.copyright {
    color: white;
    display: flex;
}

.copyright-text {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: auto;
    margin-left: auto;
}